[Unit]
Description=tvBacklightService
After=network-online.target

[Service]
ExecStart=/bin/python3 /home/pi/tvLightControl/screencap.py
KillSignal=SIGINT
WorkingDirectory=/home/pi/tvLightControl/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
